div{
    color:white;
    width: 150px;
    height: 100px;
}

.block1{
    background-color: blueviolet;
    position:static;
}

.block2{
    background-color: darkred;
    position:relative;
}

.block3{
    background-color: peru;
    position:relative;
    bottom:40px;
    left:40px;
}

.block4{
    background-color: indianred;
    position:relative;
    width:600px;
    height:400px;
}


.block5{
    background-color: indigo;
    position:absolute;
    width:300px;
    height:200px;
    top:400px;
    left:300px;
}

.block6{
    background-color: green;
    position: fixed;
    width: fit-content;
    right:0px;
    bottom:0px;
}