.main-block {
  background-color: aqua;
  border: 1px solid green;
}

.list-block {
  background-color: bisque;
  float: left;
  width: 30%;
}

.text-block {
  background-color: darkgray;
  margin-left: 30%;
}

img {
  float: right;
  width: 50%;
}
